/Boletin30/nbproject/private/
/Boletin30/build/
/Boletin31/nbproject/private/
/Boletin31/build/
/Bonoloto_extra/nbproject/private/
/Boletin33/nbproject/private/
/Boletin33/build/
/TrabajoDB/target/
/TrabajoBasesDatosMarcos/nbproject/private/
/TrabajoBasesDatosMarcos/build/
